@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
#black_top {
  background-color: black;
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0px;
  box-shadow: 0px 0px 20px 15px black;
  z-index: 2;
  display: none;
  -webkit-animation: slidedown 2s paused;
          animation: slidedown 2s paused;
}

@-webkit-keyframes slidedown {
  0% {
    height: 0px;
  }
  100% {
    height: 150px;
  }
}

@keyframes slidedown {
  0% {
    height: 0px;
  }
  100% {
    height: 150px;
  }
}
#black_bottom {
  background-color: black;
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  box-shadow: 0px 0px 20px 15px black;
  z-index: 2;
  display: none;
  -webkit-animation: slideup 2s paused;
          animation: slideup 2s paused;
}

@-webkit-keyframes slideup {
  0% {
    height: 0px;
  }
  100% {
    height: 150px;
  }
}

@keyframes slideup {
  0% {
    height: 0px;
  }
  100% {
    height: 150px;
  }
}
#instrukcja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60vw;
  height: 60vh;
  display: none;
  position: absolute;
  top: 20vh;
  left: 20vw;
}

#instrukcjah1 {
  font-family: "Press Start 2P", cursive;
  color: white;
  margin-left: 2rem;
}

.instrukcja-txt {
  font-family: "Press Start 2P", cursive;
  color: white;
  margin-left: 2rem;
}

#powrot {
  font-family: "Press Start 2P", cursive;
  color: white;
  position: absolute;
  top: 45vh;
  left: 18vw;
  width: 25vw;
  height: 10vh;
  z-index: 2;
}
#powrot:hover {
  opacity: 0.5;
}

#sklep {
  width: 80vw;
  height: 80vh;
  display: none;
  position: absolute;
  top: 10vh;
  left: 10vw;
  cursor: url("../jpg/cursor.png") 0 0, auto;
}

.skiny {
  height: 65vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.przedmiot {
  height: 10vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2.4rem;
}

#saldo {
  font-family: "Press Start 2P", cursive;
  color: white;
  margin-left: 25vw;
  padding-bottom: 13vh;
}

#coins {
  color: gold;
  -webkit-animation: none;
          animation: none;
}

.statkizdj {
  padding-top: 10px;
  max-width: 100px;
  max-height: 100px;
}

.ceny {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 1rem;
  -webkit-animation: none;
          animation: none;
}

#powrot2 {
  z-index: 3;
  margin-left: 100px;
  width: 17vw;
  height: 6vh;
  position: absolute;
  bottom: 0;
  right: 0;
}

.przycisk2 {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  height: 7vh;
  width: 20vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5%;
  font-family: "Press Start 2P", cursive;
  -webkit-animation: ruch 5s linear infinite;
          animation: ruch 5s linear infinite;
}
.przycisk2:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: url("../jpg/cursor.png") 0 0, auto;
}
.przycisk2:active {
  transform: scale(0.97);
}

#ustawienia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
  height: 65vh;
  display: none;
  position: absolute;
  top: 20vh;
  left: 20vw;
}

#ustawienia-menu {
  font-family: "Press Start 2P", cursive;
  color: white;
}

#poziom-trudnosci {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#btn-latwy {
  z-index: 2;
}
#btn-latwy:hover {
  opacity: 0.5;
}

#btn-sredni {
  z-index: 2;
}
#btn-sredni:hover {
  opacity: 0.5;
}

#btn-trudny {
  z-index: 2;
}
#btn-trudny:hover {
  opacity: 0.5;
}

#powrot1 {
  z-index: 2;
}

@-webkit-keyframes ruch {
  0% {
    text-shadow: 2px 2px red;
  }
  10% {
    text-shadow: 2px 2px orangered;
  }
  20% {
    text-shadow: 2px 2px orange;
  }
  30% {
    text-shadow: 2px 2px yellow;
  }
  40% {
    text-shadow: 2px 2px yellowgreen;
  }
  50% {
    text-shadow: 2px 2px green;
  }
  60% {
    text-shadow: 2px 2px aqua;
  }
  70% {
    text-shadow: 2px 2px lightblue;
  }
  80% {
    text-shadow: 2px 2px blue;
  }
  90% {
    text-shadow: 2px 2px purple;
  }
  100% {
    text-shadow: 2px 2px red;
  }
}

@keyframes ruch {
  0% {
    text-shadow: 2px 2px red;
  }
  10% {
    text-shadow: 2px 2px orangered;
  }
  20% {
    text-shadow: 2px 2px orange;
  }
  30% {
    text-shadow: 2px 2px yellow;
  }
  40% {
    text-shadow: 2px 2px yellowgreen;
  }
  50% {
    text-shadow: 2px 2px green;
  }
  60% {
    text-shadow: 2px 2px aqua;
  }
  70% {
    text-shadow: 2px 2px lightblue;
  }
  80% {
    text-shadow: 2px 2px blue;
  }
  90% {
    text-shadow: 2px 2px purple;
  }
  100% {
    text-shadow: 2px 2px red;
  }
}
@-webkit-keyframes blysk {
  0% {
    filter: invert(1);
  }
  25% {
    filter: invert(0.75);
  }
  50% {
    filter: invert(1);
  }
  75% {
    filter: invert(0.75);
  }
  100% {
    filter: invert(1);
  }
}
@keyframes blysk {
  0% {
    filter: invert(1);
  }
  25% {
    filter: invert(0.75);
  }
  50% {
    filter: invert(1);
  }
  75% {
    filter: invert(0.75);
  }
  100% {
    filter: invert(1);
  }
}
@-webkit-keyframes animacja {
  100% {
    background-position: 0 0, 0 0, 0 0;
  }
  0% {
    background-position: 10000px 0, 7500px 0, 5000px 0;
  }
}
@keyframes animacja {
  100% {
    background-position: 0 0, 0 0, 0 0;
  }
  0% {
    background-position: 10000px 0, 7500px 0, 5000px 0;
  }
}
@-webkit-keyframes animacja_gwiazd {
  0% {
    right: 0%;
    top: 10;
  }
  100% {
    right: 100%;
    top: 10;
  }
}
@keyframes animacja_gwiazd {
  0% {
    right: 0%;
    top: 10;
  }
  100% {
    right: 100%;
    top: 10;
  }
}
body {
  margin: 0;
  background-image: url("../jpg/cosmos1.jpg");
  background-color: #cccccc;
  -webkit-animation-name: animacja;
          animation-name: animacja;
  -webkit-animation-duration: 80s;
          animation-duration: 80s;
  -webkit-animation-direction: linear;
          animation-direction: linear;
  -webkit-animation-duration: infinite;
          animation-duration: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#main_html {
  cursor: url("../jpg/cursor.png") 0 0, auto;
  font-family: "Press Start 2P", cursive;
}

#pointer {
  position: absolute;
  background-image: url("../jpg/spaceship2.png");
  height: 100px;
  width: 100px;
  transform: translate(-60%, -50%);
  display: none;
  z-index: 1;
}

.star {
  background-image: url("../jpg/star.png");
  width: 20px;
  height: 20px;
  position: fixed;
  display: block;
  rotate: 45deg;
  opacity: 85%;
  -webkit-animation: animacja_gwiazd 4s linear forwards running;
          animation: animacja_gwiazd 4s linear forwards running;
}

.menu {
  width: 60vw;
  height: 60vh;
  z-index: 2;
  position: absolute;
  top: 20vh;
  left: 20vw;
  cursor: url("../jpg/cursor.png") 0 0, auto;
}

#przyciski {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
}

.przycisk {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  height: 9vh;
  width: 40vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5%;
  font-family: "Press Start 2P", cursive;
  -webkit-animation: ruch 5s linear infinite;
          animation: ruch 5s linear infinite;
  color: white;
}
.przycisk:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: url("../jpg/cursor.png") 0 0, auto;
}
.przycisk:active {
  transform: scale(0.97);
}

@media screen and (max-width: 810px) {
  * {
    font-size: 1.2rem;
  }
  .przycisk {
    height: 8vh;
  }
  .menu {
    height: 55vh;
  }
}
/*:hover{
    background-color:rgba(0, 0, 0, 0.6) ;
}
:active{
    transform: scale(0.97);
}*/
#ship_cords {
  color: white;
  z-index: 9;
  width: auto;
  height: 40px;
  position: absolute;
  top: 0px;
}

#difficultyLevel {
  color: white;
  z-index: 9;
  width: auto;
  height: 40px;
  position: absolute;
  top: 25px;
}

#counter {
  color: white;
  z-index: 9;
  width: auto;
  height: 40px;
  position: absolute;
  top: 50px;
}

.asteroids {
  background-image: url("../jpg/Asteroids/asteroid1_50x50.png");
  width: 50px;
  height: 50px;
  position: fixed;
  display: block;
  /*rotate: 45deg;*/
  opacity: 90%;
  /*-webkit-animation: animacja_gwiazd 4s linear forwards running;*/
  -webkit-animation: asteroidsAnimation 5s linear forwards running;
          animation: asteroidsAnimation 5s linear forwards running;
}

@-webkit-keyframes asteroidsAnimation {
  0% {
    right: 0%;
    rotate: 0deg;
  }
  100% {
    right: 100%;
    rotate: 45deg;
  }
}

@keyframes asteroidsAnimation {
  0% {
    right: 0%;
    rotate: 0deg;
  }
  100% {
    right: 100%;
    rotate: 45deg;
  }
}
#healthPoints {
  color: white;
  width: auto;
  height: 40px;
  z-index: 3;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  position: relative;
  top: 65px;
}

.heart {
  background-image: url("../jpg/heart.png");
  width: 40px;
  height: 40px;
  position: relative;
}

#pause {
  display: none;
  width: 1000px;
  color: white;
  font-size: 100px;
  z-index: 3;
  position: absolute;
  top: 45vh;
  left: 19vw;
  text-align: center;
  -webkit-animation: ruch 5s linear infinite;
          animation: ruch 5s linear infinite, slidein 1s linear paused;
}

#warning {
  display: none;
  width: 1000px;
  color: white;
  font-size: 30px;
  opacity: 0%;
  z-index: 3;
  position: absolute;
  top: 45vh;
  left: 19vw;
  text-align: center;
  -webkit-animation: ruch 5s linear infinite;
          animation: ruch 5s linear infinite, slideinWarning 1s linear paused, warningOpacity 1.5s linear paused;
}

#gameover {
  display: none;
  width: 1000px;
  color: white;
  font-size: 100px;
  z-index: 3;
  position: absolute;
  top: 45vh;
  left: 10vw;
  text-align: center;
  justify-content: center;
  -webkit-animation: ruch 5s linear infinite;
          animation: ruch 5s linear infinite, slidein 1s linear paused;
}

@-webkit-keyframes slidein {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 100px;
  }
}

@keyframes slidein {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 100px;
  }
}/*# sourceMappingURL=style.css.map */

@keyframes slideinWarning {
  0% {
    font-size: 0px;
  }

  100% {
    font-size: 30px;
  }
}

  @keyframes warningOpacity {
    0% {
      opacity: 100%;
    }
  
    80% {
      opacity: 80%;
    }
    
    100% {
      opacity: 0%;
    }
}

#price1, #price2, #price3, #price4, #price5 {
  color: gold;
  font-size: 16pt;
}